SECRET_KEY=dev-secret
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
GEMINI_API_KEY=AIzaSyDtVZYMlO8cd2MYeZsH-TLrX6krn-KJTe8
GEMINI_MODEL=gemini-1.5-flash
MAX_UPLOAD_MB=5

# Windows simple mode
CELERY_BROKER_URL=memory://
CELERY_RESULT_BACKEND=cache+memory://

# Docker Redis mode
# CELERY_BROKER_URL=redis://redis:6379/0
# CELERY_RESULT_BACKEND=redis://redis:6379/0
